<h2>Forgot Password</h2>

<div class="d-flex justify-content-center">
    <form [formGroup]="OTPForm">
        <div class="row">
            <div class="col-md-12 offset-2">
                <mat-form-field appearance="outline"
                    style="margin-top: 3%; width: 300px; height: 60px;">
                    <mat-label>OTP</mat-label>
                    <input matInput placeholder="Enter otp" formControlName="otp" id="otp"
                        autocomplete="off" autofocus required="isemailGenerated ? true : false">
                    <mat-error
                        *ngIf="OTPForm.controls['otp'].invalid && (OTPForm.controls['otp'].dirty || OTPForm.controls['otp'].touched)">
                        <span *ngIf="OTPForm.controls['otp'].hasError('required')">otp
                            is required</span>
                        <span *ngIf="OTPForm.controls['otp'].hasError('pattern')"> otp
                            should be
                            number</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 offset-2">
                <mat-form-field appearance="outline"
                    style="margin-top: 4%; width: 300px; height: 60px;">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="Enter pass" formControlName="pass" id="pass"
                        autocomplete="off" autofocus required="isemailGenerated ? true : false">
                    <mat-error
                        *ngIf="OTPForm.controls['pass'].invalid && (OTPForm.controls['pass'].dirty || OTPForm.controls['pass'].touched)">
                        <span *ngIf="OTPForm.controls['pass'].hasError('required')">pass
                            is required</span>
                        <span *ngIf="OTPForm.controls['pass'].hasError('pattern')"> pass
                            should be
                            number</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 offset-2">
                <mat-form-field appearance="outline"
                    style="margin-top: 4%; width: 300px; height: 60px;">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Enter pass" formControlName="cnfpassword" id="cnfpassword"
                        autocomplete="off" autofocus required="isemailGenerated ? true : false">
                    <mat-error
                        *ngIf="OTPForm.controls['cnfpassword'].invalid && (OTPForm.controls['cnfpassword'].dirty || OTPForm.controls['cnfpassword'].touched)">
                        <span *ngIf="OTPForm.controls['cnfpassword'].hasError('required')">confirm password
                            is required</span>
                        <span *ngIf="OTPForm.controls['cnfpassword'].hasError('pattern')"> confirm password
                            should be
                            number</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="submit-btn">
                    <button mat-raised-button color="primary"
                        [disabled]="!OTPForm?.get('otp')?.valid" >Save</button>
                    <button mat-raised-button color="warn">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
