.submit-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px; /* Optional: Add some margin on top */
    }
    div.d-flex.justify-content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh; 
      }