<!-- <div class="row">
  <span style="text-align: center; font-weight: bold;  margin-top: 20px; font-size: large;">Service Log Dashboard</span>
  <div style="padding-right: 2%;">
    
    <section class="d-flex justify-content-end">
      <mat-form-field appearance="fill">
        <mat-label>Search by api name </mat-label>
        <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter()">
      </mat-form-field>
    </section>
    <div *ngIf="filteredData.length === 0 && searchText !== ''" style="text-align: center; margin-top: 10px;">
      No matching data found.
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col">
    <button mat-icon-button (click)="goBack()" [routerLink]="['/dashboard']" style="margin-left: 25px;">
      <!-- <mat-icon matTooltip="Logout">logout</mat-icon> -->
      <mat-icon matTooltip="Back">arrow_back</mat-icon>
    </button>
  </div>
  <div class="col" style="margin-top: 20px; margin-right: 14%;">
    <span style="text-align: center; font-weight: bold;font-size: large;">Service Log Dashboard</span>
  </div>

  <div style="padding-right: 2%;">
    <section class="d-flex justify-content-end">
      <mat-form-field appearance="fill">
        <mat-label>Search by api name</mat-label>
        <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter()">
      </mat-form-field>
    </section>
    <div *ngIf="filteredData.length === 0 && searchText !== '' && searchPerformed"
      style="text-align: center; margin-top: 10px;">
      No matching data found.
    </div>
  </div>

</div>



<!-- <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card> -->
<div class="d-flex justify-content-center">
  <div class="row" style="margin-top: 2%;">
    <div class="col-md-3" *ngFor="let card of (searchText ? filteredData : cards) ; let i = index">
      <div class="card-container" (click)="openData(i)">
        <mat-card>
          <mat-card-content>{{ card.parent | snakeCaseToCapitalCamelCase }}</mat-card-content>
          <mat-card-title>{{ card.child }}</mat-card-title>
        </mat-card>
      </div>
    </div>
    <ngx-loading [show]="loading"></ngx-loading>
  </div>
</div>



<!-- (click)="openData(i)" -->